{% extends "index.html" %}

{% block title_head %}
    Uñas
{% endblock title_head %}



{% block h1_header%}
    Listado de uñas
{% endblock h1_header%}


{% block main  %}

<a href={% url "crear_uñas" %}>Crear Uña!</a>

<form action={% url "unias" %} method="get">
    {{formulario}}
    <input type="submit" value="Buscar">
</form>
    {% if unias %}
        <ul>
            {% for unia in unias %}
            <li>{{unia}} |
                <a href={% url "eliminar_unia" unia.id %}>Eliminar</a> | 
                <a href={% url "editar_unia" unia.id %}>Editar</a> |
                <a href={% url "ver_unia" unia.id %}>Ver</a> |
            </li>
            {% endfor %}
        </ul>
    {% else %}
    <p>No hay uñas creadas!</p>    
    {% endif %}

{% endblock main%}