{% extends "index.html" %}

{% block title_head %}
    Turnos
{% endblock title_head %}



{% block h1_header%}
    Agenda de turnos
{% endblock h1_header%}


{% block main  %}

<a href={% url "crear_turno" %}>Agenda tu turno!</a>

    {% if turnos %}
        <ul>
            {% for turno in turnos %}
            <li>
                {{turno}} 
                <a href={% url "eliminar_turno" turno.id %}>Eliminar</a> | 
                <a href={% url "editar_turno" turno.pk %}>Editar</a> |
                <a href={% url "ver_turno" turno.pk %}>Ver</a> |
            </li>
            {% endfor %}
        </ul>
    {% else %}
    <p>No hay turnos agendados!</p>    
    {% endif %}

{% endblock main%}